python-dotenv
langchain
lark
tiktoken
openai
gradio
fastapi
uvicorn
path
azure-cognitiveservices-speech
google-api-python-client
google-search-results
wikipedia
python-dotenv
nest_asyncio
faiss-cpu
torch
torchvision
transformers
sentence_transformers
lxml
tabulate
markdownify
chromadb==0.3.26
pydantic==1.10.8
