arxiv
azure-cognitiveservices-speech
chainlit
chromadb
duckduckgo-search
faiss-cpu
fastapi
google-api-python-client
google-search-results
gradio
langchain
lark
lxml
markdownify
nest_asyncio
numexpr
openai
openpyxl
path
petals
pydantic==1.10.8
pyowm
python-dotenv
sentence_transformers
tabulate
tiktoken
torch
torchvision
transformers
uvicorn
wikipedia
wolframalpha
youtube_search
